<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css" type="text/css">
    <title>Upload Image</title>
  </head>
 
  <body>
    <% if (typeof message !== 'undefined') { %>
      <p><%= message %></p>
    <% } %>
    <div class="box">
      <form method="post" action="/" enctype="multipart/form-data">
        <div>
          <label for="user_name">Username:</label>
          <input type="text" id="user_name" name="user_name" required>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div>
          <label for="first_name">First Name:</label>
          <input type="text" id="first_name" name="first_name" required>
        </div>
        <div>
          <label for="last_name">Last Name:</label>
          <input type="text" id="last_name" name="last_name" required>
        </div>
        <div>
          <label for="mob_no">Mobile Number:</label>
          <input type="tel" id="mob_no" name="mob_no" required>
        </div>
        <div>
          <label for="uploaded_image">Upload an image:</label>
          <input type="file" id="uploaded_image" name="uploaded_image" accept=".png,.gif,.jpg" required>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
